---
layout: compress
permalink: /thanks
meta_title: Thanks
meta_description: Looking for a demo or have a question about Zoomforth? Send us a message.
## Content for hero area
---
{% include header.html %}

<div class="page-wrapper" id="main">

    <div class="page-inner contact-page">
    <div class="site-form">
    <p>Thank you for your inquiry, one of the team will get back to you soon.</p>
    <a class="cta cta--bold" href="{{ site.baseurl }}">Back to homepage</a>
    </div>
     </div>

</div><!--/page-wrapper-->
{% include cta-main.html %}

{% include footer.html %}