<!-- Main CTA for Zoomforth marketing -->
<section class="footer-cta">
  {% if page.url contains "content-experience-platforms-why-you-need-them-and-how-to-get-started" %}
  <h2>Ready to go digital? Discover why Zoomforth microsites excel at offering content platform experiences.</h2>
  {% else %}
  <h2>Ready to go digital? Discover how Zoomforth can help you.</h2>
  {% endif %}
  <a class="cta cta--white" href="/request-demo">Request a Demo <img src="/assets/svg/arrow_right.svg" alt="Arrow right"></a>
</section>