<div class="page-wrapper press-release">
	<section class="page-inner align-center">
		<div class="pr-logo">
			<img src="/assets/svg/PwC-logo.svg" alt="Logo for PwC">
		</div>
		<div class="pr-title">
			<h2>Latest news:<br> Read about our collaboration with PwC Malaysia’s Marketplace</h2>
		</div>
		<div class="pr-link">
			<a class="plain-link arrow" href="{% post_url 2021-11-22-zoomforth-joins-pwc-malaysias-marketplace %}" title="Zoomforth joins PwC Malaysia’s Marketplace">Read Press Release <img src="/assets/svg/arrow_right_blue.svg" alt=""></a>
		</div>		
	</section>
</div>
