<section class="social-proof">
    <div class="social-proof--logos">
        <img class="logo-small" src="/assets/img/social_proof/logo_supercell.webp" alt="Logo for Supercell" loading="lazy">
        <img src="/assets/img/social_proof/logo_appian.webp" alt="Logo for Appian" loading="lazy">
        <img src="/assets/img/social_proof/logo_careerbuilder.webp" alt="Logo for Career Builder" loading="lazy">
        <img src="/assets/img/social_proof/logo_randstad.webp" alt="Logo for Randstad" loading="lazy">
        <img src="/assets/img/social_proof/logo_braze.webp" alt="Logo for Braze" loading="lazy">
        <img src="/assets/img/social_proof/logo_teradata.webp" alt="Logo for Teradata" loading="lazy">
        <img src="/assets/img/social_proof/logo_att.webp" alt="Logo for AT&T" loading="lazy">
        <img src="/assets/img/social_proof/logo_out-leadership.webp" alt="Logo for Out Leadership" loading="lazy">
        <img src="/assets/img/social_proof/logo_advisian.webp" alt="Logo for Advisian" loading="lazy">
        <img src="/assets/img/social_proof/logo_csg.webp" alt="Logo for CSG" loading="lazy">
        <img class="logo-small" src="/assets/img/social_proof/logo_therichardsgroup.webp" alt="Logo for The Richards Group" loading="lazy">
        <img src="/assets/img/social_proof/logo_onehome.webp" alt="Logo for OneHome" loading="lazy">
        <img src="/assets/img/social_proof/logo-kapnick.webp" alt="Logo for Kapnick" loading="lazy">
        <img src="/assets/img/social_proof/logo_mcba.webp" alt="Logo for MCBA" loading="lazy">
        <img src="/assets/img/social_proof/logo_everfi.webp" alt="Logo for Everfi" loading="lazy">
        <img src="/assets/img/social_proof/logo_salesloft.webp" alt="Logo for Salesloft" loading="lazy">
        <img src="/assets/img/social_proof/logo_forvis.webp" alt="Logo for Forvis" loading="lazy">
        <img class="logo-small" src="/assets/img/social_proof/logo_7comunications.webp" alt="Logo for 7 Communications" loading="lazy">
    </div>
    <div class="social-proof--subline">
        <a href="https://www.g2.com/products/zoomforth/reviews" target="_blank" title="Read our reviews on G2" rel="nofollow noopener"><img src="/assets/svg/reviews_g2.svg" alt="Stars for reviews, showing 4.5 stars out of 5" loading="lazy"></a>
        <a href="https://www.g2.com/products/zoomforth/reviews" target="_blank" title="Read our reviews on G2" rel="nofollow noopener">Read our reviews</a>
    </div>
</section>