<div class="page-wrapper white">

  <section class="page-inner">
    <span class="eyebrow">Inspiration</span>
    <div class="header-link">
        <h2>{{page.inspiration_subtitle}}</h2>
        <a class="arrow" href="{{ site.baseurl }}inspiration">See more examples <img src="/assets/svg/arrow_right_blue.svg" alt="Arrow right"></a>
    </div>
    <ul class="blog_content">
      <li>
        <a href="{{include.url1}}" class="tutorial" title="{{include.title1}}" target="_blank" rel="nofollow">
          <div class="tutorial_img">
            <img src="/assets/img/inspiration/{{include.img1}}" alt="{{include.alt1}}" loading="lazy">
          </div>
          <div class="blog_card">
            <h3>{{include.h3_1}}</h3>
            <span>{{include.span1}}</span>
            <hr>
          </div>
        </a>
      </li>
      <li>
        <a href="{{include.url2}}" class="tutorial" title="{{include.title2}}" target="_blank" rel="nofollow">
          <div class="tutorial_img">
            <img src="/assets/img/inspiration/{{include.img2}}" alt="{{include.alt2}}" loading="lazy">
          </div>
          <div class="blog_card">
            <h3>{{include.h3_2}}</h3>
            <span>{{include.span2}}</span>
            <hr>
          </div>
        </a>
      </li>
      <li>
        <a href="{{include.url3}}" class="tutorial" title="{{include.title3}}" target="_blank" rel="nofollow">
          <div class="tutorial_img">
            <img src="/assets/img/inspiration/{{include.img3}}" alt="{{include.alt3}}" loading="lazy">
          </div>
          <div class="blog_card">
            <h3>{{include.h3_3}}</h3>
            <span>{{include.span3}}</span>
            <hr>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>